*.vcxproj
*.cache
*.log
*.tlog
*.suo
CMakeFiles/
*.bin
*.exe
openddl_parser.dir/Debug/vc120.pdb
*.filters
*.obj
*.lib
*.exp
*.depend
CMakeCache.txt
*.pdb
*.sln
*.dll
*.ilk
OpenDDL-Parser.sdf
OpenDDL-Parser.opensdf
cmake_install.cmake
openddl_parser_demo.vcxproj.user
openddl_parser_unittest.vcxproj.user
